body {
  height: 100vw;
  width: 100vw;
  background-color: #3b4252;
  color: #e5e9f0;
}

.sidebar {
  background-color: #4c566a;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 10rem;
  height: calc(100% - 4rem);

  a {
    color: #e5e9f0;
  }
}
