html {
  height: 100vh;
  width: 100vw;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #3b4252;
  color: #e5e9f0;
  top: 0rem;
}

.sidebar {
  background-color: #4c566a;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  width: 10rem;
  height: calc(100% - 8rem);

  img {
    aspect-ratio: 1 / 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  a {
    color: #e5e9f0;
    display: flex;
    flex-direction: row;
  }
}
