html {
  height: 100vh;
  width: min-content;
}

body {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: min-content;
  width: 100%;
  margin: 0px;
  background-color: #3b4252;
  color: #e5e9f0;
  top: 0rem;
}

.divider {
  margin: 1rem;
  padding: 0rem;
  width: calc(100% - 2rem);
  height: 0.1rem;
  background-color: #d8dee9;
}

.sidebar {
  background-color: #4c566a;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  height: calc(100vh - 8rem);
  width: 11rem;

  img {
    aspect-ratio: 1 / 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

.content {
  width: calc(100% - 15rem);

  img {
    width: calc(100% - 2rem);
    margin: 1rem;
  }

  p {
    margin-top: 0px;
    margin-left: 1rem;
  }
}

a {
  color: #e5e9f0;
  display: flex;
  flex-direction: row;
}

.coolLink {
  border: 0.1rem solid #d8dee9;
  margin: none;
  padding: 1rem;

  h3 {
    margin: 0.25rem;
  }

  p {
    margin: 0.25rem;
  }
}
